#loader {
    position: fixed;
    z-index: 100;
    top: 50%;
    background-color: transparent;
    white-space: nowrap;
    opacity: 0;
    line-height: 1;
    letter-spacing: -0.04em;
    color: #FBDFB6;
    mix-blend-mode: difference;
}

#loader > span {
    display: inline-block;
    vertical-align: top;
    font-size: inherit;
}

.loaderFill {
    overflow: hidden;
    width: 0;
}
