/* #switchDiv{
    display: grid;
    background-color: transparent;
    justify-content: end;
    z-index: 3;
    top:8px;
    right: 5px;
    position: fixed;
} */

#switchBtn{
     
    display: grid;
    top:8px;
    right: 5px;
    position: fixed;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}