html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #FBDFB6;
}

*{
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 750;
  font-size: clamp(26px, 5.5vw, 80px);
  letter-spacing: -0.02em;
  box-sizing: border-box;
}

.light{
  color: #FBDFB6;
  background-color: #170D0C;
}

.light a{
  color: #FBDFB6;
}

.dark{
  color: #170D0C;
  background-color: #FBDFB6;
}

.dark a{
  color: #170D0C;
}

::-webkit-scrollbar{
  width: 0;
}

*, *::before, *::after {
  cursor: none !important;
}

#custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 99999;
  background-color: #FBDFB6;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  *, *::before, *::after {
    cursor: auto !important;
  }
  #custom-cursor {
    display: none;
  }
}
